@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <a asp-controller="Users" asp-action="Index" class="btn btn-success btn-block btn-lg" style="width=100%">Get started with MuzBank</a>
    
</div>
